body {
    color: #34283D
}

#main {
    background-color: #C2B8B2;
}



#top #header{
    background-color: #34283D ;
    color: #C2B8B2
} 
#header h1{
    color:#C2B8B2;
}

#brackets, #circle{
    width:30%;
    height:30%;
}

p{
    font-size: 1.0em;
}

.image .avatar{
    border-color:#6D5767;
    border:30px;
}